*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-grid{
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
  align-items: flex-end;
}

.previous-operand{
  color: rgba(255, 255, 255, .5);
  font-size: 1rem;
}

.current-operand{
  color: rgba(255, 255, 255, .9);
  font-size: 2rem;
  word-wrap: break-word;
  word-break: break-all;
}

button{
  font-size: 1.2rem;
  cursor: pointer;
}

.span-two{
  grid-column: span 2;
}